:root,
htmlroot {
	height: initial;
}

:root {

	// conditions
	--true: initial;
	--false: ;

	// page structure (boxed/normal)
	box-sizing: border-box;
	box-shadow: var(--has-boxed, var(--box-shadow));
	max-width: var(--has-boxed, var(--block-max-width));
	margin: var(--has-boxed, 10px) var(--has-boxed, auto);
	border-radius: var(--has-boxed, var(--border-radius));
	padding: var(--has-boxed, var(--boxed-content-spacing));
	

	// post/page title
	.edit-post-visual-editor__post-title-wrapper {
		margin-top: var(--has-wide, 3rem);

		.editor-post-title {
			margin-top: 0;
		}
	}
	

	// has background
	.has-background {

		&:is(p, .wp-block-group) {
			padding: 30px;
			box-sizing: border-box;
		}
	}
}